// useful mixins to use in main scss file

@import "./variables.scss";

// makes parent a flex container and centers content in either row or column
@mixin centerContent($direction) {
  display: flex;
  flex-direction: $direction;
  justify-content: center;
  align-items: center;
}

// handles styling for list items
@mixin horizontalList($sideMargin) {
  @include centerContent(row);
  li {
    margin: 0px $sideMargin;
    cursor: pointer;
    &:hover {
      text-decoration: underline;
    }
  }
  a {
    &:visited {
      color: $accent-colour;
    }
  }
}

@mixin breakpoint($minwidth, $maxwidth) {
  @media screen and (min-width: $minwidth) and (max-width: $maxwidth) {
    @content;
  }
}

// styling for the buttons
@mixin buttonStyle($width, $height, $padding, $font-size) {
  border-radius: 10px;
  box-shadow: 0px 2px 0px #000000;
  font-family: "Lato", sans-serif;
  color: #ffffff;
  background-color: #fca311;
  width: $width;
  height: $height;
  padding: $padding;
  font-size: $font-size;
  text-decoration: none;
  transition: 0.5s;
  &:hover {
    background-color: #ca820e;
    text-decoration: none;
  }
}

// styling for main containers
@mixin containerStyle($width, $height) {
  background-color: $accent-colour;
  box-shadow: 4px 2px 10px 0px $primary-colour;
  border: $primary-colour 4px solid;
  border-radius: 10px;
  padding: 20px;
  width: $width;
  height: $height;
}
