@mixin centerContent($direction) {
  display: flex;
  flex-direction: $direction;
  justify-content: center;
  align-items: center;
}

@mixin horizontalList($sideMargin) {
  @include centerContent(row);
  li {
    margin: 0px $sideMargin;
    cursor: pointer;
    &:hover {
      text-decoration: underline;
    }
  }
  a {
    &:visited {
      color: inherit;
    }
  }
}

@mixin breakpoint($minwidth, $maxwidth) {
  @media screen and (min-width: $minwidth) and (max-width: $maxwidth) {
    @content;
  }
}

@mixin buttonStyle($width, $height, $padding, $font-size) {
  @include centerContent(column);
  background-color: rgba(145, 145, 145, 0.35);
  box-shadow: 4px 2px 18px 0px #6e6e6e inset;
  border-radius: 10px;
  color: black;
  width: $width;
  height: $height;
  padding: $padding;
  font-size: $font-size;
  font-weight: 700;
}

@mixin containerStyle($width, $height) {
  background-color: rgba(145, 145, 145, 0.35);
  box-shadow: 4px 2px 18px 0px #6e6e6e inset;
  border-radius: 10px;
  padding: 20px;
  // min-height: 400px;
  // min-width: 300px;
  width: $width;
  height: $height;
}
