@import "./_mixins.scss";
@import url("https://fonts.googleapis.com/css2?family=Francois+One&family=Lato:wght@300;400;700&display=swap");

ul {
  padding: 0;
}

li {
  list-style-type: none;
}

body {
  background-color: whitesmoke;
  min-height: 100vh;
  font-family: "Lato", sans-serif;
}

h1,
h2,
h3 {
  font-family: "Francois One", sans-serif;
  margin: 30px 0px;
}

form {
  display: flex;
  flex-direction: column;
  input {
    margin: 10px 0px;
    width: 220px;
    max-width: 350px;
  }
  input[type="submit"] {
    align-self: center;
    width: 120px;
    height: 35px;
  }
}

// nav stylings

header {
  @include centerContent(column);
  background-color: rgb(63, 63, 63);
  color: white;
  width: 100%;
}

.page-nav {
  @include horizontalList(15px);
  color: white;
}

#logout-button {
  color: black;
}

// landing page

.main-page-title {
  text-align: center;
  font-size: 4rem;
}

.main-page-container {
  @include centerContent(row);
  gap: 20em;
  h2 {
    text-align: center;
    font-size: 2.5rem;
  }
}

// info

#info-section {
  @include centerContent(column);
  @include containerStyle;
  li {
    font-size: 1rem;
  }
  li::before {
    margin-right: 10px;
    content: "\02B50";
  }
  li:not(:first-child) {
    margin: 40px 0px;
  }
}

// login

#login-section {
  @include centerContent(column);
  @include containerStyle;
  p {
    text-align: center;
  }
}

// register

#register-section {
  @include centerContent(column);
  @include containerStyle;
  p {
    text-align: center;
  }
}

// new post

#new-post-section {
  @include centerContent(column);
  @include containerStyle;
  justify-content: space-around;
}

#post-text {
  min-height: 200px;
  width: 400px;
  max-width: 450px;
  resize: none;
  white-space: pre-wrap;
  margin: 5px 0px;
}

#recent-posts {
  min-width: 50vw;
}

.post {
  @include centerContent(column);
  border: 2px solid gray;
  padding: 15px;
  margin: 20px 0px;
}

.post-text {
  font-weight: bold;
  font-size: 1.2rem;
}

.star-container {
  @include centerContent(row);
  direction: rtl;
  span {
    cursor: pointer;
    margin: 0px 2px;
    // &:hover {
    //   color: orange;
    // }
  }
}

.star1:hover ~ span {
  color: orange;
}
.star2:hover ~ span {
  color: orange;
}
.star3:hover ~ span {
  color: orange;
}
.star4:hover ~ span {
  color: orange;
}
.star5:hover ~ span {
  color: orange;
}

/////////////////////////////////////////////////////////////////////////////////////////
.rate {
  float: left;
  height: 46px;
  padding: 0 10px;
}
.rate:not(:checked) > input {
  position: absolute;
  // top: -9999px;
  visibility: hidden;
}
.rate:not(:checked) > label {
  float: right;
  width: 1em;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
  font-size: 30px;
  color: #ccc;
}
.rate:not(:checked) > label:before {
  content: "★ ";
}
.rate > input:checked ~ label {
  color: #ffc700;
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
  color: #deb217;
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
  color: #c59b08;
}

#profile-posts {
  @include centerContent(row);
  gap: 4rem;
  li {
    width: 500px;
  }
}
