@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Francois+One&family=Lato:wght@300;400;700&display=swap");
ul {
  padding: 0; }

li {
  list-style-type: none; }

body {
  background-color: whitesmoke;
  min-height: 100vh;
  font-family: "Lato", sans-serif; }

h1,
h2,
h3 {
  font-family: "Francois One", sans-serif;
  margin: 30px 0px; }

a {
  color: black;
  text-decoration: none; }

form {
  display: flex;
  flex-direction: column; }
  form input {
    margin: 10px 0px;
    width: 220px;
    max-width: 350px; }
  form input[type="submit"] {
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(145, 145, 145, 0.35);
    box-shadow: 4px 2px 18px 0px #6e6e6e inset;
    border-radius: 10px;
    color: black;
    width: 120px;
    height: 35px;
    padding: 0px;
    font-size: 1rem;
    font-weight: 700; }

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #3f3f3f;
  color: white;
  width: 100%; }

.page-nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: white; }
  .page-nav li {
    margin: 0px 15px;
    cursor: pointer; }
    .page-nav li:hover {
      text-decoration: underline; }
  .page-nav a:visited {
    color: inherit; }

.main-page-title {
  text-align: center;
  font-size: 4rem; }

.main-page-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20em; }
  .main-page-container h2 {
    text-align: center;
    font-size: 2.5rem; }

#info-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(145, 145, 145, 0.35);
  box-shadow: 4px 2px 18px 0px #6e6e6e inset;
  border-radius: 10px;
  padding: 50px;
  min-height: 400px;
  min-width: 300px;
  width: 400px; }
  #info-section li {
    font-size: 1rem; }
  #info-section li::before {
    margin-right: 10px;
    content: "\02B50"; }
  #info-section li:not(:first-child) {
    margin: 40px 0px; }

#login-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(145, 145, 145, 0.35);
  box-shadow: 4px 2px 18px 0px #6e6e6e inset;
  border-radius: 10px;
  padding: 50px;
  min-height: 400px;
  min-width: 300px;
  width: 400px; }
  #login-section p {
    text-align: center; }

#register-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(145, 145, 145, 0.35);
  box-shadow: 4px 2px 18px 0px #6e6e6e inset;
  border-radius: 10px;
  padding: 50px;
  min-height: 400px;
  min-width: 300px;
  width: 400px; }
  #register-section p {
    text-align: center; }

#new-post-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(145, 145, 145, 0.35);
  box-shadow: 4px 2px 18px 0px #6e6e6e inset;
  border-radius: 10px;
  padding: 50px;
  min-height: 400px;
  min-width: 300px;
  width: 400px;
  justify-content: space-around; }

#post-text {
  min-height: 200px;
  width: 400px;
  max-width: 450px;
  resize: none;
  white-space: pre-wrap;
  margin: 5px 0px; }

#post-success-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5em;
  margin-top: 50px; }
  #post-success-section button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(145, 145, 145, 0.35);
    box-shadow: 4px 2px 18px 0px #6e6e6e inset;
    border-radius: 10px;
    color: black;
    width: 300px;
    height: 150px;
    padding: 50px;
    font-size: 2rem;
    font-weight: 700; }

#recent-posts {
  min-width: 50vw; }

.post {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid gray;
  padding: 15px;
  margin: 20px 0px; }

.post-text {
  font-weight: bold;
  font-size: 1.2rem; }

.star-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  direction: rtl; }
  .star-container span {
    cursor: pointer;
    margin: 0px 2px; }

.star1:hover ~ span {
  color: orange; }

.star2:hover ~ span {
  color: orange; }

.star3:hover ~ span {
  color: orange; }

.star4:hover ~ span {
  color: orange; }

.star5:hover ~ span {
  color: orange; }

.rate {
  float: left;
  height: 46px;
  padding: 0 10px; }

.rate:not(:checked) > input {
  position: absolute;
  visibility: hidden; }

.rate:not(:checked) > label {
  float: right;
  width: 1em;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
  font-size: 30px;
  color: #ccc; }

.rate:not(:checked) > label:before {
  content: "★ "; }

.rate > input:checked ~ label {
  color: #ffc700; }

.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
  color: #deb217; }

.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
  color: #c59b08; }

#profile-posts {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 4rem; }
  #profile-posts li {
    width: 500px; }

/*# sourceMappingURL=styles.css.map */
