@import "./_mixins.scss";

ul {
  padding: 0;
}

body {
  @include centerContent(column);
  background-color: whitesmoke;
}

header {
  @include centerContent(column);
  background-color: rgb(63, 63, 63);
  color: white;
  width: 100%;
}

form {
  @include centerContent(column);
  input {
    margin: 10px;
  }
}

.page-nav {
  @include horizontalList(15px);
  color: white;
}

#logout-button {
  color: black;
}

#recent-posts {
  min-width: 50vw;
}

.post {
  @include centerContent(column);
  border: 2px solid gray;
  padding: 15px;
  margin: 20px 0px;
}

.post-text {
  font-weight: bold;
  font-size: 1.2rem;
}

.star-container {
  @include centerContent(row);
  direction: rtl;
  span {
    cursor: pointer;
    margin: 0px 2px;
    // &:hover {
    //   color: orange;
    // }
  }
}

.star1:hover ~ span {
  color: orange;
}
.star2:hover ~ span {
  color: orange;
}
.star3:hover ~ span {
  color: orange;
}
.star4:hover ~ span {
  color: orange;
}
.star5:hover ~ span {
  color: orange;
}
