<ul id="left-nav" class="page-nav">
  <a href="/view-posts"><li><svg class="icon" xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24"><path d="M5 9v9a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V9"></path><path d="m3 10.5 8.36-6.967a1 1 0 0 1 1.28 0L21 10.5"></path></svg></li></a>
  <a href="/new-post"><li><svg class="icon" xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24"><path d="M4 7a3 3 0 0 1 3-3h10a3 3 0 0 1 3 3v10a3 3 0 0 1-3 3H7a3 3 0 0 1-3-3V7zM8 12h8m-4 4V8"></path></svg></li></a>
  <a href="/info"><li><svg class="icon" xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24"><path d="M12 14v0c0-.552.46-.984.982-1.164A3.001 3.001 0 0 0 12 7a3 3 0 0 0-3 3"></path><circle cx="12" cy="12" r="9"></circle><path d="M12 17.01V17"></path></svg></li></a>
</ul>
<img id="logo" src="images/logo2.png">
<ul id="right-nav" class="page-nav">
  <a href="profile"><li><svg class="icon" xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24"><circle cx="12" cy="9" r="5"></circle><path d="m20 20-.304-1.822A5 5 0 0 0 14.764 14H9.236a5 5 0 0 0-4.932 4.178L4 20"></path></svg></li></a>
  <a href="settings"><li><svg class="icon" xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24"><path d="M10.539 3.563a2 2 0 0 1 2.922 0l.789.844a2 2 0 0 0 1.528.633l1.154-.039A2 2 0 0 1 19 7.068l-.04 1.154a2 2 0 0 0 .634 1.528l.844.789a2 2 0 0 1 0 2.922l-.844.789a2 2 0 0 0-.633 1.528L19 16.932A2 2 0 0 1 16.932 19l-1.154-.04a2 2 0 0 0-1.528.634l-.789.844a2 2 0 0 1-2.922 0l-.789-.844a2 2 0 0 0-1.528-.633L7.068 19A2 2 0 0 1 5 16.932l.04-1.154a2 2 0 0 0-.634-1.528l-.844-.789a2 2 0 0 1 0-2.922l.844-.789a2 2 0 0 0 .633-1.528L5 7.068A2 2 0 0 1 7.068 5l1.154.04a2 2 0 0 0 1.528-.634l.789-.844z"></path><circle cx="12" cy="12" r="3"></circle></svg></li></a>
  <li>
    <form action="/logout" method="post">
      <input id="logout-button" type="image" src="images/logout.svg" class="icon" name="submit" value="Logout" />
    </form>
  </li>
</ul>
