<ul class="page-nav">
  <a href="/view-posts"><li><img class="icon" src="images/home.svg"></li></a>
  <a href="/new-post"><li><img class="icon" src="images/plus-square.svg"></li></a>
  <a href="profile"><li><img class="icon" src="images/person.svg"></li></a>
  <a href="settings"><li><img class="icon" src="images/settings.svg"></li></a>
  <li>
    <form action="/logout" method="post">
      <input id="logout-button" type="image" src="images/logout.svg" class="icon" name="submit" value="Logout" />
    </form>
  </li>
</ul>
