<ul class="page-nav">
  <a href="/register"><li>Register</li></a>
  <a href="/login"><li>Login</li></a>
  <a href="/new-post"><li>App</li></a>
  <a href="/view-posts"><li>Posts</li></a>
  <a href="profile"><li>Profile</li></a>
</ul>
