<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("../partials/head") %>
  </head>
  <body>
    <header>
      <nav><%- include("../partials/logged-in-nav") %></nav>
    </header>
    <main id="profile-container">
      <section id="profile-details">
        <h1 class="main-page-title">What to do?</h1>
      </section>
          <section id="info-options">
            <a href="/view-posts">
              <div>
                <h2>Rate</h2>
                <li><svg class="large-icon" xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24"><path d="M5 9v9a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V9"></path><path d="m3 10.5 8.36-6.967a1 1 0 0 1 1.28 0L21 10.5"></path></svg></li>
                <p>View other's posts and rate them</p>
            </div>
          </a>
          <a href="/new-post">
            <div>
              <h2>Post</h2>
              <li><svg class="large-icon" xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24"><path d="M4 7a3 3 0 0 1 3-3h10a3 3 0 0 1 3 3v10a3 3 0 0 1-3 3H7a3 3 0 0 1-3-3V7zM8 12h8m-4 4V8"></path></svg></li>
              <p>Post something for others to see</p>
            </div>
          </a>
          <a href="/profile">
            <div>
              <h2>Profile</h2>
              <li><svg class="large-icon" xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24"><circle cx="12" cy="9" r="5"></circle><path d="m20 20-.304-1.822A5 5 0 0 0 14.764 14H9.236a5 5 0 0 0-4.932 4.178L4 20"></path></svg></li>
              <p>View and update your profile</p>
            </div>
          </a>
          </section>
    </main>
  </body>
  <script type="module" src="./scripts/utils.js"></script>
  <script type="module" src="./scripts/posts.js"></script>
  <script type="module" src="./scripts/profile.js"></script>
</html>
