<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("../partials/head") %>
  </head>
  <body>
    <header>
      <nav id="logged-out-nav"><%- include("../partials/logged-out-nav") %></nav>
    </header>
    <h1 class="main-page-title">Logged out</h1>
    <p style="text-align: center;">Come back soon!</p>
    <main class="main-page-container">
      <article id="post-success-section">
        <a href="/login"><button>Login</button></a>
        <a href="/register"><button>Register</button></a>
      </article>
    </main>
  </body>
  <script type="module" src="./scripts/utils.js"></script>
  <script type="module" src="./scripts/posts.js"></script>
  <script type="module" src="./scripts/profile.js"></script>
</html>
