<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("../partials/head") %>
  </head>
  <body>
    <header>
      <nav><%- include("../partials/logged-in-nav") %></nav>
    </header>
    <h1 class="main-page-title">New post</h1>
    <main class="main-page-container">
      <article id="new-post-section">
        <form action="/newPost" enctype="multipart/form-data" method="post">
          <h2><%=data.user.username%></h2> 
          <img class="profile-pic" 
          <%if(data.user.profilePicture) {%>
            src="<%=data.user.profilePicture%>"
            <%}%>
          />          <label for="post-text">What's on your mind?</label>
          <textarea type="text" class="post-text" name="post"></textarea>
          <!-- <label for="add-image-button">Add an image?</label> -->
          <input id="add-image-button" type="file" name="myImage" accept="image/*">
          <input type="submit" value="Post">
        </form>
      </article>
    </main>
    <!-- <button id="post-button">Post</button> -->
  </body>
  <script type="module" src="./scripts/utils.js"></script>
  <script type="module" src="./scripts/posts.js"></script>
</html>
