<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("../partials/head") %>
  </head>
  <body>
    <header>
      <img id="logo" src="images/logo2.png">
      <nav><%- include("../partials/logged-in-nav") %></nav>
    </header>
    <h1 class="main-page-title">Post successful!</h1>
    <p style="text-align: center;">(let's hope they like it...)</p>
    <main class="main-page-container">
      <article id="post-success-section">
        <a href="/new-post"><button>Post again</button></a>
        <a href="/view-posts"><button>View posts</button></a>
      </article>
    </main>
    <!-- <button id="post-button">Post</button> -->
  </body>
  <script type="module" src="./scripts/utils.js"></script>
  <script type="module" src="./scripts/posts.js"></script>
  <script type="module" src="./scripts/profile.js"></script>
</html>
