<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("../partials/head") %>
  </head>
  <body>
    <header>
      <nav id="logged-out-nav"><%- include("../partials/logged-out-nav") %></nav>
    </header>
    <h1 class="main-page-title">Join Mate Rate Now</h1>
    <main class="main-page-container">
      <article id="register-section">
        <h2>Register</h2>
        <form action="/register" method="post">
          <label for="register-username">Username</label>
          <input type="text" id="register-username" name="username" />
          <label for="register-password">Password</label>
          <input type="password" id="resgister-password" name="password" />
          <input type="submit" value="Register" />
        </form>
        <p>Already have an account? <a class="signup-text" href="/login">Login here!</a></p>
      </article>
    </main>
  </body>
  <script type="module" src="./scripts/utils.js"></script>
  <script type="module" src="./scripts/posts.js"></script>
</html>
