<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link href="./css-scss/normalize.css" rel="stylesheet" />
    <link href="./css-scss/styles.css" rel="stylesheet" />
  </head>
  <body>
    <header>
      <h1>Social Media App</h1>
      <nav><%- include("../partials/nav") %></nav>
    </header>
    <h1 id="landing-page-title">Join Mate Rate Now</h1>
    <main class="landing-page-container">
      <article id="register-section">
        <h2>Register</h2>
        <form action="/register" method="post">
          <label for="register-username">Username</label>
          <input type="text" id="register-username" name="username" />
          <label for="register-password">Password</label>
          <input type="text" id="resgister-password" name="password" />
          <input type="submit" value="Register" />
        </form>
      </article>
    </main>
  </body>
  <script type="module" src="./scripts/utils.js"></script>
  <script type="module" src="./scripts/posts.js"></script>
</html>
