<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("../partials/head") %>
  </head>
  <body>
    <header>
      <h1>Social Media App</h1>
      <nav><%- include("../partials/nav") %></nav>
      <form action="/logout" method="post">
        <input id="logout-button" type="submit" value="Logout" />
      </form>
    </header>
    <h1 class="main-page-title">Settings</h1>
    <main class="main-page-container">
      <article id="settings-section">
        <p id="user-bio">Bio: <%=data.user.bio%></p>
          <div class="update-container">
            <label for="bio-text">Update bio</label>
            <input type="text" id="bio-text">
            <button id="update-bio-btn">Confirm</button>
          </div>
          <div class="update-container">
            <label for="new-password-text">Update Password</label>
            <input type="text" id="new-password-text">
            <button id="update-password-btn">Confirm</button>
          </div>
            <form action="/deleteUser" method="post">
              <label for="delete-profile-btn">Delete account</label>
              <input id="delete-profile-btn" type="submit" value="Delete" />
            </form>
          <a href="/profile"><button>Done</button></a>
      </article>

    </main>
  </body>
  <script type="module" src="./scripts/utils.js"></script>
  <script type="module" src="./scripts/posts.js"></script>
  <script type="module" src="./scripts/profile.js"></script>
</html>
