<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("../partials/head") %>
  </head>
  <body>
    <header>
      <h1>Mate Rate</h1>
      <nav><%- include("../partials/nav") %></nav>
      <form action="/logout" method="post">
        <input id="logout-button" type="submit" value="Logout" />
      </form>
    </header>
    <h1 class="main-page-title">Settings</h1>
    <main class="main-page-container">
      <article id="settings-section">
        <!-- <p id="user-bio">Bio: <%=data.user.bio%></p> -->
        <div id="profilepic-container" class="update-container">
          <form action="/updateProfilePic" enctype="multipart/form-data" method="post">
            <img style="width: 50px; height: 50px; border-radius: 50%;" 
            <%if(data.user.profilePicture) {%>
              src="<%=data.user.profilePicture%>"
              <%}%>
            />
            <input id="add-profilepic-button" type="file" name="myImage" accept="image/*">
            <input type="submit" value="Confirm">
          </form>
        </div>
          <div class="update-container">
            <label for="bio-text">Update bio</label>
            <input type="text" id="bio-text">
            <button id="update-bio-btn">Confirm</button>
            <p class="hidden update-success">Bio changed successfully</p>
          </div>
          <div class="update-container">
            <label for="new-password-text">Update Password</label>
            <input type="text" id="new-password-text">
            <button id="update-password-btn">Confirm</button>
            <p class="hidden update-success">Password changed successfully</p>
          </div>
          <a href="/profile"><button>Done</button></a>
            <form action="/deleteUser" method="post">
              <label for="delete-profile-btn">Delete account?</label>
              <input id="delete-profile-btn" type="submit" value="Delete" />
            </form>

      </article>

    </main>
  </body>
  <script type="module" src="./scripts/utils.js"></script>
  <script type="module" src="./scripts/posts.js"></script>
  <script type="module" src="./scripts/profile.js"></script>
</html>
